openapi: 3.0.0
info:
  title: Movie API
  description: RESTful API for movie lovers that want to be able to access information about different movies, genres, directors...
  version: 1.0.0
servers:
  - url: https://movie-pool.onrender.com
tags:
  - name: Users
    description: Everything about Users
    externalDocs:
      description: Find out more
      url: https://movie-pool.onrender.com
  - name: Movies
    description: Everything about Movies
    externalDocs:
      description: Find out more
      url: https://movie-pool.onrender.com
paths:
  /users:
    post:
      tags:
        - Users
      summary: Create a user
      description: Create a user. This can be done by anyone.
    get:
      tags:
        - Users
      summary: Get all users
      description: Get all users. This can only be done by a logged in user.
  /users/{userName}:
    get:
      tags:
        - Users
      summary: Get a user by user name
      description: Get a user by user name. This can only be done by a logged in user.
    put:
      tags:
        - Users
      summary: Update user by user name
      description: Update user by user name. This can only be done by a logged in user.
    delete:
      tags:
        - Users
      summary: Delete a user
      description: Delete a user by user name. This can only be done by a logged in user.
      parameters:
        - name: userName
          in: path
          description: The name of a user to be deleted.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User has been deleted.
        '400':
          description: User was not found.
  /users/{userName}/movies/{movieid}:
    post:
      tags:
        - Users
      summary: Add a movie
      description: Add a movie to user's favorite movies list. This can only be done by a logged in user.
    delete:
      tags:
        - Users
      summary: Delete a movie
      description: Delete a movie off of a user's favorite movies list. This can only be done by a logged in user.
      parameters:
        - name: userName
          in: path
          description: The name of a user with a favorite movies list.
          required: true
          schema:
            type: string
        - name: movieid
          in: path
          description: The movie-id of a movie to be deleted off of a user's favorite movies list.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Movie has been deleted.
        '500':
          description: TODO - Error.
  /movies:
    get:
      tags:
        - Movies
      summary: Get all movies
      description: Get all movies. This can only be done by a logged in user.
  /movies/{title}:
    get:
      tags:
        - Movies
      summary: Get a specific movie
      description: Get a specific movie by title. This can only be done by a logged in user.
  /movies/genres/{genreName}:
    get:
      tags:
        - Movies
      summary: Get a specific movie genre
      description: Get a specific movie genre by genre name. This can only be done by a logged in user.
  /movies/directors/{directorName}:
    get:
      tags:
        - Movies
      summary: Get a specific director
      description: Get a specific director by director name. This can only be done by a logged in user.